# AI-Lab: 09
### Rollnumber: BSAIM-F24-195
### Name: Aman Ali

<div class="alert alert-block alert-success">
    Import <b>Libraries</b>
</div>

In [2]:
import pandas as pd

<div class="alert alert-block alert-info">
    1. <b>Data Gathering</b>
    <br>
    2. <b>Data Loading</b>
</div>

In [3]:
df = pd.read_excel("data.xlsx")
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02,3.130000e+05,3,1.50,1340.0,7912.0,1.5,0.0,0.0,3.0,1340.0,0.0,1955.0,2005.0,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02,2.384000e+06,5,2.50,3650.0,9050.0,2.0,0.0,4.0,5.0,3370.0,280.0,1921.0,0.0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02,3.420000e+05,3,2.00,1930.0,11947.0,1.0,0.0,0.0,4.0,1930.0,0.0,1966.0,0.0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02,4.200000e+05,3,2.25,2000.0,8030.0,1.0,0.0,0.0,4.0,1000.0,1000.0,1963.0,0.0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02,5.500000e+05,4,2.50,1940.0,10500.0,1.0,0.0,0.0,4.0,1140.0,800.0,1976.0,1992.0,9105 170th Ave NE,Redmond,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-07-09,3.081667e+05,3,1.75,1510.0,6360.0,1.0,0.0,0.0,4.0,1510.0,0.0,1954.0,1979.0,501 N 143rd St,Seattle,WA 98133,USA
4596,2014-07-09,5.343333e+05,3,2.50,1460.0,7573.0,2.0,0.0,0.0,3.0,1460.0,0.0,1983.0,2009.0,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,2014-07-09,4.169042e+05,3,2.50,3010.0,7014.0,2.0,0.0,0.0,3.0,3010.0,0.0,2009.0,0.0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,2014-07-10,2.034000e+05,4,2.00,2090.0,6630.0,1.0,0.0,0.0,3.0,1070.0,1020.0,1974.0,0.0,5148 S Creston St,Seattle,WA 98178,USA
4599,2014-07-10,2.206000e+05,3,2.50,1490.0,8102.0,2.0,0.0,0.0,4.0,1490.0,0.0,1990.0,0.0,18717 SE 258th St,Covington,WA 98042,USA

<div class="alert alert-block alert-info">
    3. <b>Data Exploration</b>
</div>

In [5]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02,313000.0,3,1.50,1340.0,7912.0,1.5,0.0,0.0,3.0,1340.0,0.0,1955.0,2005.0,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02,2384000.0,5,2.50,3650.0,9050.0,2.0,0.0,4.0,5.0,3370.0,280.0,1921.0,0.0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02,342000.0,3,2.00,1930.0,11947.0,1.0,0.0,0.0,4.0,1930.0,0.0,1966.0,0.0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02,420000.0,3,2.25,2000.0,8030.0,1.0,0.0,0.0,4.0,1000.0,1000.0,1963.0,0.0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02,550000.0,4,2.50,1940.0,10500.0,1.0,0.0,0.0,4.0,1140.0,800.0,1976.0,1992.0,9105 170th Ave NE,Redmond,WA 98052,USA

In [6]:
df.tail()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
4595,2014-07-09,308166.666667,3,1.75,1510.0,6360.0,1.0,0.0,0.0,4.0,1510.0,0.0,1954.0,1979.0,501 N 143rd St,Seattle,WA 98133,USA
4596,2014-07-09,534333.333333,3,2.50,1460.0,7573.0,2.0,0.0,0.0,3.0,1460.0,0.0,1983.0,2009.0,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,2014-07-09,416904.166667,3,2.50,3010.0,7014.0,2.0,0.0,0.0,3.0,3010.0,0.0,2009.0,0.0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,2014-07-10,203400.000000,4,2.00,2090.0,6630.0,1.0,0.0,0.0,3.0,1070.0,1020.0,1974.0,0.0,5148 S Creston St,Seattle,WA 98178,USA
4599,2014-07-10,220600.000000,3,2.50,1490.0,8102.0,2.0,0.0,0.0,4.0,1490.0,0.0,1990.0,0.0,18717 SE 258th St,Covington,WA 98042,USA

In [7]:
df.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')

In [8]:
df.count()

date             4600
price            4600
bedrooms         4600
bathrooms        4176
sqft_living      4176
sqft_lot         4004
floors           4004
waterfront       3892
view             3892
condition        3892
sqft_above       3892
sqft_basement    3892
yr_built         4064
yr_renovated     4064
street           4488
city             4488
statezip         4488
country          4488
dtype: int64

In [9]:
df.describe()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
count,4600,4.600000e+03,4600.000000,4176.000000,4176.000000,4.004000e+03,4004.000000,3892.000000,3892.000000,3892.000000,3892.000000,3892.000000,4064.000000,4064.000000
mean,2014-06-07 03:14:42.782608640,5.519630e+05,3.400870,2.158705,2140.862787,1.491332e+04,1.515984,0.007451,0.242292,3.445529,1832.250257,308.527235,1970.685039,811.642963
min,2014-05-02 00:00:00,0.000000e+00,0.000000,0.000000,370.000000,6.380000e+02,1.000000,0.000000,0.000000,1.000000,370.000000,0.000000,1900.000000,0.000000
25%,2014-05-21 00:00:00,3.228750e+05,3.000000,1.750000,1460.000000,5.037250e+03,1.000000,0.000000,0.000000,3.000000,1190.000000,0.000000,1951.000000,0.000000
50%,2014-06-09 00:00:00,4.609435e+05,3.000000,2.250000,1970.000000,7.700000e+03,1.500000,0.000000,0.000000,3.000000,1590.000000,0.000000,1975.000000,0.000000
75%,2014-06-24 00:00:00,6.549625e+05,4.000000,2.500000,2620.000000,1.096250e+04,2.000000,0.000000,0.000000,4.000000,2300.000000,600.000000,1997.000000,1999.000000
max,2014-07-10 00:00:00,2.659000e+07,9.000000,8.000000,13540.000000,1.074218e+06,3.500000,1.000000,4.000000,5.000000,9410.000000,4820.000000,2014.000000,2014.000000
std,NaN,5.638347e+05,0.908848,0.788561,972.946350,3.654166e+04,0.539815,0.086009,0.777894,0.672829,875.789869,462.145292,29.740410,979.945403

In [12]:
df.describe(include='all')

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
count,4600,4.600000e+03,4600.000000,4176.000000,4176.000000,4.004000e+03,4004.000000,3892.000000,3892.000000,3892.000000,3892.000000,3892.000000,4064.000000,4064.000000,4488,4488,4488,4488
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4415,44,77,1
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2520 Mulberry Walk NE,Seattle,WA 98103,USA
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1534,143,4488
mean,2014-06-07 03:14:42.782608640,5.519630e+05,3.400870,2.158705,2140.862787,1.491332e+04,1.515984,0.007451,0.242292,3.445529,1832.250257,308.527235,1970.685039,811.642963,NaN,NaN,NaN,NaN
min,2014-05-02 00:00:00,0.000000e+00,0.000000,0.000000,370.000000,6.380000e+02,1.000000,0.000000,0.000000,1.000000,370.000000,0.000000,1900.000000,0.000000,NaN,NaN,NaN,NaN
25%,2014-05-21 00:00:00,3.228750e+05,3.000000,1.750000,1460.000000,5.037250e+03,1.000000,0.000000,0.000000,3.000000,1190.000000,0.000000,1951.000000,0.000000,NaN,NaN,NaN,NaN
50%,2014-06-09 00:00:00,4.609435e+05,3.000000,2.250000,1970.000000,7.700000e+03,1.500000,0.000000,0.000000,3.000000,1590.000000,0.000000,1975.000000,0.000000,NaN,NaN,NaN,NaN
75%,2014-06-24 00:00:00,6.549625e+05,4.000000,2.500000,2620.000000,1.096250e+04,2.000000,0.000000,0.000000,4.000000,2300.000000,600.000000,1997.000000,1999.000000,NaN,NaN,NaN,NaN
max,2014-07-10 00:00:00,2.659000e+07,9.000000,8.000000,13540.000000,1.074218e+06,3.500000,1.000000,4.000000,5.000000,9410.000000,4820.000000,2014.000000,2014.000000,NaN,NaN,NaN,NaN
std,NaN,5.638347e+05,0.908848,0.788561,972.946350,3.654166e+04,0.539815,0.086009,0.777894,0.672829,875.789869,462.145292,29.740410,979.945403,NaN,NaN,NaN,NaN

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   datetime64[ns]
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   int64
 3   bathrooms      4176 non-null   float64
 4   sqft_living    4176 non-null   float64
 5   sqft_lot       4004 non-null   float64
 6   floors         4004 non-null   float64
 7   waterfront     3892 non-null   float64
 8   view           3892 non-null   float64
 9   condition      3892 non-null   float64
 10  sqft_above     3892 non-null   float64
 11  sqft_basement  3892 non-null   float64
 12  yr_built       4064 non-null   float64
 13  yr_renovated   4064 non-null   float64
 14  street         4488 non-null   object
 15  city           4488 non-null   object
 16  statezip       4488 non-null   object
 17  country        4488 non-null   object
dtypes: datetime64[ns](1), float64(12), int64(1), object(4)
memory usage: 647.0+ KB

In [19]:

print('rows: ', df.shape[0]) 
print('columns: ', df.shape[1])

rows:  4600
columns:  18

In [20]:
df.isnull().sum()

date               0
price              0
bedrooms           0
bathrooms        424
sqft_living      424
sqft_lot         596
floors           596
waterfront       708
view             708
condition        708
sqft_above       708
sqft_basement    708
yr_built         536
yr_renovated     536
street           112
city             112
statezip         112
country          112
dtype: int64

In [17]:
df.nunique()

date               70
price            1741
bedrooms           10
bathrooms          26
sqft_living       545
sqft_lot         2773
floors              6
waterfront          2
view                5
condition           5
sqft_above        485
sqft_basement     195
yr_built          115
yr_renovated       58
street           4415
city               44
statezip           77
country             1
dtype: int64

In [25]:
def mean_col(col):
    return df[col].mean()

def median_col(col):
    return df[col].median()

def mod_col(col):
    return df[col].mode()[0]

In [27]:
print("Mean of Bathrooms is  : ", mean_col("bathrooms"))
print("Median of Bathrooms is  : ", median_col("bathrooms"))
print("Mode of Bathrooms is  : ", mod_col("bathrooms"))

Mean of Bathrooms is  :  2.1587045019157087
Median of Bathrooms is  :  2.25
Mode of Bathrooms is  :  2.5

In [29]:
df.dtypes

date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living             float64
sqft_lot                float64
floors                  float64
waterfront              float64
view                    float64
condition               float64
sqft_above              float64
sqft_basement           float64
yr_built                float64
yr_renovated            float64
street                   object
city                     object
statezip                 object
country                  object
dtype: object