# AI-Lab: 10
### Rollnumber: BSAIM-F24-195
### Name: Aman Ali

<div class="alert alert-block alert-success">
    Import <b>Libraries</b>
</div>

In [79]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder as enc

<div class="alert alert-block alert-info">
    1. <b>Data Gathering</b>
    <br>
    2. <b>Data Loading</b>
</div>

In [80]:
df = pd.read_excel("data.xlsx")
df

,StudentID,Gender,Age,StudyHoursPerWeek,AttendanceRate,GPA,Major,PartTimeJob,ExtraCurricularActivities
0,1.0,Male,24.0,37.0,90.75,3.47,Arts,Yes,No
1,2.0,Female,22.0,37.0,74.90,2.32,Education,No,No
2,3.0,Male,22.0,10.0,53.36,2.38,Business,No,No
3,4.0,Male,24.0,10.0,70.26,3.46,Science,Yes,No
4,5.0,Male,18.0,19.0,74.87,2.31,Education,Yes,No
...,...,...,...,...,...,...,...,...,...
495,496.0,Male,22.0,37.0,76.61,2.97,Science,No,No
496,497.0,Male,23.0,11.0,56.29,3.20,Science,No,No
497,498.0,Female,20.0,6.0,56.64,3.20,Science,No,Yes
498,499.0,Male,22.0,18.0,57.18,2.05,Business,No,Yes
499,500.0,Female,24.0,21.0,96.99,2.64,Engineering,No,No

<div class="alert alert-block alert-info">
    4. <b>Data Pre-Processing</b>
</div>

In [81]:
print('We have {} rows.'.format(df.shape[0])) 
print('We have {} columns'.format(df.shape[1]))

We have 500 rows.
We have 9 columns

In [82]:
df.isnull().sum()

StudentID                     1
Gender                       40
Age                          40
StudyHoursPerWeek            40
AttendanceRate               40
GPA                           0
Major                        22
PartTimeJob                  22
ExtraCurricularActivities    22
dtype: int64

In [83]:
def unique_col(col):
    print(f"Unique Values in {col} are : ")
    for i in col:
        print(f"{i} : ",df[i].unique())
        print()

In [84]:
df.columns.tolist()

['StudentID',
 'Gender',
 'Age',
 'StudyHoursPerWeek',
 'AttendanceRate',
 'GPA',
 'Major',
 'PartTimeJob',
 'ExtraCurricularActivities']

In [85]:


col_all = ['StudentID',
 'Gender',
 'Age',
 'StudyHoursPerWeek',
 'AttendanceRate',
 'GPA',
 'Major',
 'PartTimeJob',
 'ExtraCurricularActivities']


columns = ["Gender", "Major" , "PartTimeJob"]

In [86]:
unique_col(columns)

Unique Values in ['Gender', 'Major', 'PartTimeJob'] are :
Gender :  ['Male' 'Female' nan]

Major :  ['Arts' 'Education' 'Business' 'Science' 'Engineering' nan]

PartTimeJob :  ['Yes' 'No' nan]

<div class="alert alert-block alert-warning">
    4.1. <b>Manage Null Values</b>
</div>

In [87]:
df.isnull().sum()

StudentID                     1
Gender                       40
Age                          40
StudyHoursPerWeek            40
AttendanceRate               40
GPA                           0
Major                        22
PartTimeJob                  22
ExtraCurricularActivities    22
dtype: int64

In [88]:
df.dtypes

StudentID                    float64
Gender                        object
Age                          float64
StudyHoursPerWeek            float64
AttendanceRate               float64
GPA                          float64
Major                         object
PartTimeJob                   object
ExtraCurricularActivities     object
dtype: object

In [89]:
def fillnaObjectMode(cols):
    for i in cols:
        df[i].fillna(df[i].mode()[0] , inplace=True)

columns = ['Gender', 'Major', 'PartTimeJob', 'ExtraCurricularActivities']
fillnaObjectMode(columns)

C:\Users\HP\AppData\Local\Temp\ipykernel_3408\945996062.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[i].fillna(df[i].mode()[0] , inplace=True)

In [90]:
def fillnaFloatMode(cols):
    for i in cols:
        df[i].fillna(df[i].median(), inplace=True)

columns = ['Age','StudentID','StudyHoursPerWeek','AttendanceRate']
fillnaFloatMode(columns)

C:\Users\HP\AppData\Local\Temp\ipykernel_3408\1315788926.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[i].fillna(df[i].median(), inplace=True)

In [91]:
df.isnull().sum()

StudentID                    0
Gender                       0
Age                          0
StudyHoursPerWeek            0
AttendanceRate               0
GPA                          0
Major                        0
PartTimeJob                  0
ExtraCurricularActivities    0
dtype: int64

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   StudentID                  500 non-null    float64
 1   Gender                     500 non-null    object
 2   Age                        500 non-null    float64
 3   StudyHoursPerWeek          500 non-null    float64
 4   AttendanceRate             500 non-null    float64
 5   GPA                        500 non-null    float64
 6   Major                      500 non-null    object
 7   PartTimeJob                500 non-null    object
 8   ExtraCurricularActivities  500 non-null    object
dtypes: float64(5), object(4)
memory usage: 35.3+ KB

In [94]:
df.isnull().sum()

StudentID                    0
Gender                       0
Age                          0
StudyHoursPerWeek            0
AttendanceRate               0
GPA                          0
Major                        0
PartTimeJob                  0
ExtraCurricularActivities    0
dtype: int64

<div class="alert alert-block alert-warning">
    4.2. <b>Manage Data Types</b>
</div>

In [95]:
df.dtypes

StudentID                    float64
Gender                        object
Age                          float64
StudyHoursPerWeek            float64
AttendanceRate               float64
GPA                          float64
Major                         object
PartTimeJob                   object
ExtraCurricularActivities     object
dtype: object

In [99]:

def ChangeFloatToInt(cols):
    for i in cols:
        df[i] = df[i].astype('int64')


columns = ['StudentID','Age','StudyHoursPerWeek' , 'AttendanceRate','GPA']

ChangeFloatToInt(columns)

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   StudentID                  500 non-null    int64
 1   Gender                     500 non-null    object
 2   Age                        500 non-null    int64
 3   StudyHoursPerWeek          500 non-null    int64
 4   AttendanceRate             500 non-null    int64
 5   GPA                        500 non-null    int64
 6   Major                      500 non-null    object
 7   PartTimeJob                500 non-null    object
 8   ExtraCurricularActivities  500 non-null    object
dtypes: int64(5), object(4)
memory usage: 35.3+ KB

In [104]:
def convertObjToInt(cols):
    for i in cols:
        data = pd.DataFrame({i:df[i].unique()})
        dat_LE = enc()
        dat_LE.fit(np.ravel(data))
        df[i] = dat_LE.transform(df[i])
        
columns = ['Gender', 'Major', 'PartTimeJob','ExtraCurricularActivities']
convertObjToInt(columns)

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   StudentID                  500 non-null    int64
 1   Gender                     500 non-null    int64
 2   Age                        500 non-null    int64
 3   StudyHoursPerWeek          500 non-null    int64
 4   AttendanceRate             500 non-null    int64
 5   GPA                        500 non-null    int64
 6   Major                      500 non-null    int64
 7   PartTimeJob                500 non-null    int64
 8   ExtraCurricularActivities  500 non-null    int64
dtypes: int64(9)
memory usage: 35.3 KB